<section id="courses" class="bg-light text-center">
  <div class="container">
    <h2>Courses and Certifications</h2>
    <ul class="list-unstyled">
      <li>
        <a href="#" target="_blank">The Complete Web Developer in 2023: Zero to Mastery</a>
      </li>
      <li>
        <a href="#" target="_blank">Complete Python Developer in 2023: Zero to Mastery</a>
      </li>
      <li>
        <a href="#" target="_blank">The Complete JavaScript Course 2023: From Zero to Expert!</a>
      </li>
      <li>
        <a href="#" target="_blank">Ruby on Rails 6 Bootcamp</a>
      </li>
    </ul>
  </div>
</section>