<section id="courses" class="bg-light text-center">
  <div class="container">
    <h2>Courses and Certifications</h2>
    <ul class="list-unstyled">
      <li>
        <a href="#" target="_blank">Stanford Code in Place</a>
      </li>
      <li>
        <a href="#" target="_blank">CTD: Rails Practicum</a>
      </li>
      <li>
        <a href="#" target="_blank">CTD: Advanced Ruby on Rails</a>
      </li>
      <li>
        <a href="#" target="_blank">CTD: Intro to Programming</a>
      </li>
      <li>
        <a href="#" target="_blank">GA: Data Analysis</a>
      </li>
    </ul>
  </div>
</section>