<section id="projects" class="text-center">
  <div class="container">
    <h2>Projects</h2>
    <ul class="list-unstyled">
      <li>
        <a href="https://github.com/CeeFish/my_portfolio" target="_blank">My Portfolio</a>
      </li>
      <li>
        <a href="https://github.com/CodeTheDream/upstate" target="_blank">UpState</a>
      </li>
    </ul>
  </div>
</section>