<section id="about" class="py-5">
  <%= render "home/pages/about" %>
</section>
<section id="projects" class="py-5">
  <%= render "home/pages/projects" %>
</section>
<section id="courses-and-certifications" class="py-5">
  <%= render "home/pages/courses_and_certifications" %>
</section>
<section id="contact" class="py-5">
  <%= render "home/pages/contact" %>
</section>